.App {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    min-height: 100vh;
}

.search-form {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

.search-bar {
    border: 1px solid #f3f3f3;
    padding: 10px;
    width: 50%;
}

.search-button {
    background: cyan;
    border: 0;
    padding: 10px 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
